body {
  background-color: rgb(30, 10, 10);
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: snow;
  font-weight: 900;
}

button {
  text-align: center;
  color: snow;
  background-color: rgb(13, 12, 20);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  border: 2px solid #bb0c0c;
}
.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
.Tool-Bar {
  background-color: rgb(30, 10, 10);
  font-size: 2vh;
  border-style: ridge;
  border-color: yellow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
